<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.svg' %}" >
    <title>EcoBite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>    
    {% include "contents/newProduct.html" %}
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isSaleCheckbox = document.getElementById('id_is_sale');
        const priceField = document.querySelector('.price-field');
        const salePriceField = document.querySelector('.sale-price-field');
        
        function togglePriceFields() {
            if (isSaleCheckbox.checked) {
                document.querySelector('label[for="id_price"]').textContent = "Precio Normal";
                salePriceField.style.display = 'block';
            } else {
                document.querySelector('label[for="id_price"]').textContent = "Precio";
                salePriceField.style.display = 'none';
            }
        }
        
        // Initialize on page load
        togglePriceFields();
        
        // Add event listener for changes
        isSaleCheckbox.addEventListener('change', togglePriceFields);
    });
</script>