
<div class="container text-center">
    <div class="alert alert-info display-4 mt-2">Añadir un Comercio</div>
    <div class="col">
        <form method="POST" enctype="multipart/form-data">
            <table class="table container">
            {{ form.non_field_errors }}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating my-2 fieldWrapper">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label_tag}}</label>
                <div>{{ field.errors }}</div>
                </div>
            {% endfor %}
            </table>
            <button type="submit" class="btn btn-success">Añadir</button>
        </form>
    </div>
</div>